
body{
	padding-bottom: 35%;
	margin: 5% 5%;
	background-image: url(https://cdn.pixabay.com/photo/2016/10/28/01/24/pc-1776996_960_720.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
button {
	border-radius:24px 0 24px 0;
	background: grey;
	border:none;
	color:#fff;
	font:bold 24px Verdana;
	padding:12px 0 12px 0;
	display: inline-block;
	white-space: 4px;
	width: 15%;
	text-align: center;
	margin: auto;
	
}
.afficheur{
	text-align: center;

}
.egal{
	margin-top: 8%;
	text-align: center;
}
.button123 {
	text-align: center;
}
.button456{
	text-align: center;
}
.button789{
	text-align: center;
}
#btn0{
	text-align: center;

}
#diviser, #multiplier, #moins, #plus, #erase, #reset, #egal{
	background: blue;
}
